.page {
  background-color: #136f63;
  color: white;
}

.small-image {
  height: 8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
