.usr-image2 {
    border: 2px solid white;
  }

.sidebar-header2 {
  margin-top: 1rem;
  text-align: center;
  color: #000000;
}

.img2 {
  margin-left: 2rem;
}

.onPointLogoText {
  padding-top: 5px;
  padding-bottom: 20px;
}