.usr-image2 {
    border: 2px solid white;
  }

@media (max-width: 768px) {

    body {
    font-size: 14px;
    }
     }
@media (min-width: 769px) {

    body {
    font-size: 18px;
       }
    .nav-item {
      gap: 1rem;
    }
     }

.bg-light2 {
    --bs-bg-opacity: 1;
    background-color: #ffffff;
    max-height: 150px;  
}

/* Bootstrap button styling override */
.nav-toggle {
  background: none;
  border: none;
  padding: 0;
  color: black;
  cursor: pointer;
}

.navBar .nav-toggle.toggle-active:after {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  margin-top: 0px;
  background: black;
}